body {
  
}


header {
    color: blue;
    text-align: center;
    font-size: 25px;
}
p {
    color: red;
}

div {
    background-color: lightgrey;
}

header {margin-bottom:30px;}
div + div {margin-top:20px;}

html { 
   width:100%; 
   height:100%; 
   background:url("NHL.jpg") center center no-repeat;

    
}